#wrapper {
    width: 1000px;
    margin: 0
}

.gridsquare {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: 2vh;
    width: 1vw;
    outline: 1px solid #000
}

.row {
    white-space: nowrap
}

input#clickMe {
    position: relative;
    margin: 0 0 0 50%
}

.navbar {
    margin: 0 0 5px 0;
    width: 960px;
    text-align: left;
}